<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags and other head elements -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Higher or Lower Card Game</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Your Custom CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img
        src="/static/images/gameLogo.png"
        alt="logo"
        width="50"
        height="50"
      />
      <a class="navbar-brand" href="{{ url_for('home') }}">Higher or Lower</a>
    </nav>
    {% block content %}{% endblock %}
    <!-- Bootstrap JS and dependencies (Optional if you need JS components) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Your Custom JS -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
